# Copiá este archivo a `.env` en la raíz del proyecto y completá los valores.
# Solo usar prefijo EXPO_PUBLIC_ para valores que deben estar en el bundle del cliente.
EXPO_PUBLIC_GOOGLE_MAPS_KEY_IOS =
EXPO_PUBLIC_GOOGLE_MAPS_KEY_ANDROID = 
EXPO_PUBLIC_APP_NAME=